**/datasets
**/models
**/models_bu
**.code-workspace
**.pyc
**.ipynb
**.ipynb_checkpoints
**/test
**.wav
**.out
**__pycache__
**.png
**ckpt*
**.jpg
**.jpeg
!images/*.jpg
**cdr*.out
*.output
*.error
train_out
.vscode